<EditForm Model="FormModel">

    <Collapisble>
        <Title>
            <strong>1) Kuka</strong>
            @if (ShowHelpText)
            {
                <text>
                    – kirjoittaja tai suullinen tietolähde – aina henkilö, järjestyksessä sukunimi, etunimen alkukirjain.
                    Ellei henkilötekijää ole, ensimmäiseksi tiedoksi siirtyy listan 3. kohta ”Mitä<strong> – </strong> lähteen nimi tai otsikko”.
                </text>
            }
        </Title>
        <Content>
            <button class="btn" @onclick="@AddAuthor">Lisää tekijä</button>

            @for (int i = 0; i < numAuthors; i++)
            {
                <AuthorCard OnAuthorChanged="@((AuthorDto author) => AuthorChanged(author, i))"
                            OnAuthorCreated="@((AuthorDto author) => FormModel.Authors.Append(author))"
                            RemoveAuthor="@RemoveAuthor" />
            }
        </Content>
    </Collapisble>

    <Collapisble>
        <Title>
            <strong>2) Milloin</strong>
            @if (ShowHelpText)
            {
                <text>
                    – julkaisuvuosi (ellei tiedossa, käytetään lyhennettä N.d. = no date, tekstiviitteessä n.d.
                    Lähdeluettelossa on iso N, koska se on pisteen jäljessä, tekstviiitteessä on pieni n.
                </text>
            }
        </Title>
        <Content>
            <div class="form-check">
                <label class="form-check-label" for="release-known">Julkaisu päivä tunnettu?</label>
                <input class="release-known" type="checkbox" checked="@ReleaseKnown" id="release-known" @oninput="@OnReleaseKnownChanged">
            </div>

            <div class="mb-3">
                <label for="release-date" class="form-label">Julkaisuaika vuosilukuna.</label>
                <input type="number" class="form-control" id="release-date" placeholder="@(ReleaseKnown ? "Syötä julkaisu vuosi." : "N.d.")"
                @bind-value="FormModel.ReleaseYear" disabled="@(!ReleaseKnown)">
            </div>
        </Content>
    </Collapisble>

    <Collapisble>
        <Title>
            <strong>3) Mitä</strong>
        </Title>
        <Content>
            <div class="mb-3">
                <label for="title" class="form-label">Teoksen nimi tai otsikko (ilman päättävää pistettä).</label>
                <input type="text" class="form-control" id="title" placeholder="Syötä teoksen nimi tai otsikko." @bind-value="FormModel.Title">
            </div>
        </Content>
    </Collapisble>

    <Collapisble>
        <Title>
            <strong>4) Missä</strong>
            @if (ShowHelpText)
            {
                <text>
                    – tiedot julkaisusta, painoksesta, julkaisupaikasta ja kustantajasta, verkko-osoitteesta jne.<br>
                    – Teoksen painos merkitään vain, jos se on muu kuin ensimmäinen. Painostiedot voi haluttaessa lyhentää, esimerkiksi p. (painos), uud. p. (uudistettu painos) tai korj. p. (korjattu painos).<br>
                    – Kustantajan tietoihin ei yleensä lisätä yhtiömuotoa (oy., ry., ky.), poikkeuksena WSOY.<br>
                    – Tarvittaessa ilmoitetaan myös täsmällinen julkaisu- tai päivitysaika, esimerkiksi lehden tai radio-ohjelman julkaisupäivämäärä. Viittauspäivämäärä verkkojulkaisuihin ilmoitetaan aina.

                </text>
            }
        </Title>
        <Content>
            <div class="mb-3">
                <label for="type" class="form-label">Teoksen painos.</label>
                <input type="text" class="form-control" id="type" placeholder="Syötä teoksen tyyppi." @bind-value="FormModel.PublishEdition">
            </div>

            <div class="mb-3">
                <label for="type" class="form-label">Kustantaja.</label>
                <input type="text" class="form-control" id="type" placeholder="Syötä teoksen tyyppi." @bind-value="FormModel.Publisher">
            </div>

            <div class="mb-3">
                <label for="type" class="form-label">Tiedot julkaisutyypistä (opinnäytetyö, pöytäkirja, jne.).</label>
                <InputSelect class="form-select" aria-label="source type" @bind-Value="FormModel.Type">
                    @if (FormModel.Type == SourceType.Unknown)
                    {
                        <option selected>Valitse teoksen tyyppi</option>
                    }
                    <option value="@SourceType.Thesis">Opinnäytetyö</option>
                    <option value="@SourceType.Book">Kirja</option>
                    <option value="@SourceType.Record">Pöytäkirja</option>
                    <option value="@SourceType.Email">Sähköpostiviesti</option>
                    <option value="@SourceType.CDOrDvd">CD -tai DVD-levy</option>
                </InputSelect>
            </div>

            @if (FormModel.Type == SourceType.Thesis)
            {
                <div class="mb-3">
                    <label for="other-info" class="form-label">Opinnäytetyön julkaisema koulu.</label>
                    <input type="text" class="form-control" id="other-info" placeholder="Syötä muut tiedot." @bind-value="FormModel.OtherInfo">
                </div>
            }

            <div class="mb-3">
                <label for="other-info" class="form-label">Muut julkaisua koskevat tiedot, mm. viestimen tyyppi (esimerkiksi sähköpostiviesti, CD-levy, DVD), toimittajat, painostiedot , sivunumerot jne.</label>
                <input type="text" class="form-control" id="other-info" placeholder="Syötä muut tiedot." @bind-value="FormModel.OtherInfo">
            </div>

            <div class="mb-3">
                <label for="publisher" class="form-label">Julkaisija / kustantaja tai muu julkaisijataho.</label>
                <input type="text" class="form-control" id="publisher" placeholder="Syötä julkaisija." @bind-value="FormModel.Publisher">
            </div>

            <div class="mb-3">
                <label for="other" class="form-label">Mahdolliset muut täsmentävät tiedot:</label>
                <input type="text" class="form-control" id="other" placeholder="Syötä muut täsmentävät tiedot." @bind-value="FormModel.Other">
            </div>

            @* NOTE: viittamisen ajankohta ja linkki ovat tässä järjestyksessä aina viimeiset tiedot. *@

            <div class="mb-3">
                <label for="date-referred" class="form-label">Viittaamisen ajankohta päivämääränä.</label>
                <input type="text" class="form-control" id="other" placeholder="Syötä viittaamisen ajankohta." @bind-value="FormModel.DateReferred">
            </div>

            <div class="mb-3">
                <label for="link" class="form-label">Linkki</label>
                <input type="text" class="form-control" id="other" placeholder="Syötä linkki." @bind-value="FormModel.Link">
            </div>
        </Content>
    </Collapisble>

    <button type="submit" class="btn btn-primary mb-3" @onclick="CreateSource">Valmis</button>

</EditForm>

<InputTextArea class="source" @bind-Value="@Source" />