@page "/"

<header>
    <div class="title">
        <h1>Sourcefier</h1>
        <p>Etkö muista miten lähdemerkintä tehdään? Tämän lomakkeen avulla voit generoida lähdemerkinnän tietojen avulla.</p>
    </div>

    <div class="settings">
        <div class="language">
            <label>Language:</label>
            <button @onclick="@(() => OnLangaugeChange(Language.Finnish))"><img src="fi.svg" /></button>
            <button @onclick="@(() => OnLangaugeChange(Language.English))"><img src="gb.svg" /></button>
        </div>

        <div class="mode">
            <label>Mode: </label>
            <InputRadioGroup @bind-Value="@Mode">

                <div class="input-mode">
                    <label>Basic:</label>
                    <InputRadio Value="@Mode.Basic" />
                </div>

                <div class="input-mode">
                    <label>Advanced:</label>
                    <InputRadio Value="@Mode.Advanced" />
                </div>

                <div class="input-mode">
                    <label>Automated:</label>

                    <InputRadio Value="@Mode.Automated" />
                </div>
            </InputRadioGroup>
        </div>

    </div>
</header>

@Language

<div class="help">
    <p>Katso JAMK:n viralliset ohjeet lähdeluettelon laatimiseen.</p>
    <ul>
        <li>
            <a href="https://oppimateriaalit.jamk.fi/raportointiohje/5-lahteiden-kaytto/5-3-lahdeluettelon-laatiminen/">
                Lähdeluettelon laatiminen
            </a>
        </li>
        <li>
            <a href="https://oppimateriaalit.jamk.fi/raportointiohje/esimerkkeja-lahteiden-merkinnasta/">
                Esimerkkejä lähteiden merkinnästä
            </a>
        </li>
    </ul>
</div>

<style>
    header {
        display: flex;
        justify-content: space-between;
    }

    .language {

    }

    .language button {
        border: none;
        background-color: none;
        padding: 0;

        width: 50px;
    }

    .input-mode {
        display: block;
    }
</style>

@* 
TODO: Source styles:
Vancouver
IEEE (Institute of Electrical and Electronics Engineers)
Harvard
Chicago
MLA (Modern Language Association)
APA (American Psychological Association)

*@

@switch (Mode)
{
    case Mode.Basic:
    <Basic />
        break;

    case Mode.Advanced:
    case Mode.Automated:
        <p>This mode is not yet supported.</p>
        break;

    default:
    <p>An unexpected error occured. Please try again or contact administration.</p>
        break;

}